extends layout
block content
  h1 Register for an account here!

  -if(errors){
    ul
      for error in errors
        li(style='color:red')=error
  -}
  .regForm
    form(action='/register' method='post')
      label(for='email') Email
      input(type ='text' name ='email' id='email')
      label(for='password') Password
      input(type='password' name='password' id='password')
      label(for='retype') Please Retype Password
      input(type='password' name='retype' id='retype')
      input(type='submit')